<div class=" product">
<h1>Ro'yxatdan o'tinngiz </h1>
<div class="mahsulot_qoshish">
    <li class="nav-item active">
        <a class="nav-link" href="/add">Malumot qo'shish</a>
      </li>

</div>

