<div class="messages">
    {{#each type Object.keys(messages)}}
    {{#each message messages[type]}}
    <div class="alert alert-" + {{type}}>
        {{message}}
    </div>
    {{/each}}
    {{/each}}

</div>