<div class="container more1">
  <div class="row more2">
    <div class="col-lg-6">
      <div class="more_img">
        <img src="/images/{{data.img}}" alt="" />
      </div>
      <div class="more_text">
        <h1><b>{{data.name}}</b></h1>
      
         <div class="narx1 " ><h4>Narxi: <p class="card-text">{{data.price}}</p> -So'm</h4></div>
           <div class="telefon"> <h4>Telefon raqam: <p class="card-text">{{data.phone}}</p></h4></div>
        <a href="/" class="btn btn-outline-success">Bosh sahifa</a>

      </div>
    </div>
  </div>
</div>