<div class="container">
    <form action="/salom"></form>
<input type="text" placeholder="ismingizni yozing">
<input type="text" placeholder="familyangizni yozing">
<input type="phone" placeholder="telefon raqamingizni yozing">
<input type="password" placeholder="password o'ylab toping">
</div>